.device-section {
  margin-bottom: 40px;
}

.device-info-container {
  background-color: #fff;
  border-radius: var(--border-radius-base);
  box-shadow: var(--card-shadow);
  padding: 10px;
  margin-bottom: 20px;
}

.device-info-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #2196F3;
  color: var(--text-color-dark);
}

.device-details {
  display: flex; /* Keep as flexbox */
  flex-direction: column; /* Stack items vertically */
  gap: 10px; /* Spacing between each label-value pair */
  font-size: 14px;
  padding-left: 10px; /* Optional: indent the details slightly */
}

.device-details p {
  margin: 0; /* Remove default paragraph margins */
  display: flex; /* Make each <p> a flex container */
  align-items: baseline; /* Align label and value at their baselines */
}

.device-details strong {
  color: var(--text-color-black);
  min-width: 120px; /* Give labels a fixed width for alignment */
  text-align: left; /* Align labels to the left */
  margin-right: 5px; /* Space between label and value */
  flex-shrink: 0; /* Prevent label from shrinking */
}

.sensor-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}

.sensor-card {
  background-color: #fff;
  border-radius: var(--border-radius-base);
  box-shadow: var(--card-shadow);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.status-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}

.connected-icon {
  background-color: #4CAF50; /* Green color for 'connected' */
}

.card-title {
  font-size: 18px;
  margin: 0;
}

.data-section {
  margin-bottom: 15px;
}

.data-label {
  font-size: 14px;
  color: var(--text-color-light);
  margin-bottom: 5px;
}

.data-values {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.main-value {
  font-size: 28px;
  font-weight: bold;
}

.range-values {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: var(--text-color-light);
}

.high-value::before {
  content: '▲ ';
  color: #F44336; /* Red for high */
  margin-right: 2px;
}

.low-value::before {
  content: '▼ ';
  color: #2196F3; /* Blue for low */
  margin-right: 2px;
}

.last-updated {
  font-size: 1.1em; /* Makes the font size a bit larger */
  color: #3498db;  /* Sets the color to a shade of blue */
}